.link {
  text-decoration: inherit;
  color: inherit;
}

.card {
  margin-bottom: 1em;
  padding: 0.5em;
  box-shadow: 0.2em 0.5em 1em rgba(0, 0, 0, 0.3);
  background-color: white;
  color: hsl(210, 15%, 20%);
  cursor: default;
}

.card__img {
  display: block;
  width: 100%;
  height: 17rem;
  background-image: url(../assets/placeholder.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.auth {
  margin: 10vh auto;
  width: 30vw;
  min-width: 300px;
  padding: 1em 2em;
}

.card__title,
.card__runtime {
  margin: 5% 0;
  text-align: center;
}

.card__badge {
  display: inline-block;
  border-radius: 5px / 2px;
  padding: 5px 10px;
  text-align: center;
}

.card__badge_regular {
  background: hsl(210, 51%, 83%);
}

.card__badge_excellent {
  font-weight: bold;
  background: hsl(134, 51%, 40%);
}

.card__badge_good {
  background: hsl(134, 51%, 70%);
}

.card__input {
  border: solid 1px lightgray;
  border-radius: 2px;
}

.card__btn {
  border: 0;
  font: icon;
}

.card__btn_regular {
  background-color: hsl(210, 45%, 40%);
  color: white;
}

.card__btn_regular:hover {
  background-color: hsl(210, 45%, 35%);
}

.card__btn_cancel {
  font: bold;
  cursor: pointer;
  background-color: inherit;
  color: gray;
}

.card__btn_medium {
  padding: 0.6em 2em;
}

.card__btn_small {
  padding: 0.6em 1em;
  min-width: 90px;
}

.card__btn_small:disabled,
.card__btn_small:disabled:hover {
  background-color: hsl(210, 45%, 70%);
}

.flex-stretch {
  display: flex;
  justify-content: stretch;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__input,
.flex-space-between {
  margin: 3% 0;
}

.input {
  width: 100%;
  font-size: 1em;
  height: var(--search-form-height);
  padding-left: 1em;
  outline: none;
}

.input:focus {
  border: solid 1px hsl(210, 15%, 46%);
}
